/* Links */

.mylinks-row {
  margin: 1rem 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.mylinks {
  width: 83%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border-radius: 0.8rem;
  background-color: rgba(255,255,255,1);
  padding: 1.5rem;
  box-shadow: 0 0px 20px rgba(0,0,0,0.1);
}
.mylinks .txt-box {
  flex: 0 80%;
}
.mylinks .txt-box i {
  background-color: #dfdfdf;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
.mylinks .txt-box .txt {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.mylinks .txt-box h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.mylinks .txt-box p {
  font-size: 0.85rem;
  font-weight: 400;
  font-style: italic;
}
.mylinks .edit {
  text-align: right;
}
.mylinks .edit i {
  font-size: 24px;
  color: #000;
}
.mylinks .edit a:hover i {
  color: #ff793f;
}
.mylinks-row .delt-div {
  display: inline-block;
  vertical-align: middle;
}
.mylinks-row .delt-div a {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #000;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
}
.mylinks-row .delt-div i {
  font-size: 24px;
  color: #000;
}
.mylinks-row .delt-div a:hover i {
  color: #ff793f;
}
.mylinks-row .delt-div a:hover {
  border-color: #ff793f;
}

.mylinkheight {
  height: 300px;
}

.plus_div {
  position: fixed;
  bottom: 20px;
  width: 50%;
  left: auto;
  right: auto;
  text-align: center;
}
.plus_div a {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #000;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 55px;
  margin: 0 auto;
  text-align: center;
}
.plus_div i {
  font-size: 24px;
  color: #000;
}
.plus_div a:hover {
  border: 1px solid #ff793f;
}
.plus_div a:hover i {
  color: #ff793f;
}

.popup-formdiv .form-control {
  font-weight: 600;
}

@media (max-width: 767px) {
  .mylinks-row {
    width: 100%;
  }
  .mylinks {
    width: 70%;
    display: block;
    position: relative;
  }
  .mylinks .txt-box {
    flex: 0 40%;
  }
  .mylinks .txt-box i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
  }
  .mylinks .txt-box .txt {
    margin: 5px 0;
  }
  .mylinks .txt-box p {
    word-break: break-all;
  }
  .mylinks .edit {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .plus_div {
    position: relative;
    margin-top: 2rem;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .mylinks-row {
    width: 100%;
  }
  .mylinks {
    width: 70%;
    display: block;
    position: relative;
  }
  .mylinks .txt-box {
    flex: 0 40%;
  }
  .mylinks .txt-box i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
  }
  .mylinks .txt-box .txt {
    margin: 5px 0;
  }
  .mylinks .txt-box p {
    word-break: break-all;
  }
  .mylinks .edit {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .plus_div {
    position: relative;
    margin-top: 2rem;
  }

  .simplebarheight {
    height: 400px !important;
  }
}
