# Coasian

Host coasian-web-1
  HostName 34.222.33.11
  User ec2-user

Host coasian-web-2
  HostName 35.86.133.10
  User ec2-user

Host heartmail-web-1
  HostName 54.68.33.129
  User ec2-user

Host heartmail-web-2
  HostName 34.213.188.9
  User ec2-user

Host heartx-web-1
  HostName 35.85.146.168
  User ec2-user

Host heartx-web-2
  HostName 52.34.76.155
  User ec2-user

Host openspv-web-1
  HostName 54.201.54.80
  User ec2-user

Host openspv-web-2
  HostName 54.202.251.156
  User ec2-user

Host rxc-web-1
  HostName 35.85.143.8
  User ec2-user

Host rxc-web-2
  HostName 54.202.232.190
  User ec2-user

Host tob-web-1
  HostName 34.221.179.76
  User ec2-user

Host tob-web-2
  HostName 54.213.127.46
  User ec2-user

Host itisbit-web-1
  HostName 54.218.172.157
  User ec2-user

Host itisbit-web-2
  HostName 54.213.219.49
  User ec2-user

