a:link, a:visited {
  color: #059;
}

.headerbox {
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
}

.headerbox h1 {
  font-size: 20px;
  margin: 5px;
  line-height: 20px;
}

.footer {
  text-align: center;
}

article {
  font-size: 18px;
  line-height: 25px;
}

article h1 {
  margin-top: 40px;
  font-size: 25px;
}

.page-archive article h1 {
  margin-top: 20px;
}

article .author {
  font-size: 14px;
  color: #666;
}

@media (min-width: 768px) {
  body {
    padding-top: 3%;
  }
}
