
/* login */

.login-div {position: relative; display: flex; justify-content:space-between; width: 100%; align-items: center; align-content: center; height: 100%;}
.login-bg { position: fixed; width: 100%; height: 100%; top:0; left: 0;}

/*.login-box{position: relative;text-align: center; margin: 0 auto; flex: 0 30%; margin-top:10rem; border: 1px solid;}*/
.login-box{position:absolute; right: 20%; top:9rem; width: 28%; text-align: center;}
.login-box .user { margin-bottom: 20px;}
.login-box h3 { color:#424242; font-size: 24px; font-weight: 600; margin-bottom: 20px;}
.loginwithtxt { color:#424242; font-size: 16px; margin-bottom: 20px;}
.loginwithtxt a {color:#424242;}
.loginwithtxt a:hover {color:#FF793F;}
.loginbtn-group { position: relative; display: block; }
.loginbtn-group .btns{ border: 1px solid #033673; border-radius: 100px; font-size:18px; font-weight: 600; color:#000; padding: 0.5rem 3rem; display: block; margin-bottom: 1rem;}
.loginbtn-group .btns:hover { border:1px solid #FF793F;}
.loginbtn-group .moneycon{  background: url(../assets/images/icons/moneybutton-logo.svg) no-repeat top left; width: 25px; height: 25px; display: inline-block; background-size: cover; vertical-align: middle; margin-right: 5px;}
.loginbtn-group .handcash{   background: url(../assets/images/icons/UlLZSEzV.svg) no-repeat top left; width: 25px; height: 25px; display: inline-block; background-size: cover; vertical-align: middle; margin-right: 5px;}



@media (max-width: 767px) {
	.login-bg { display: none;}
	.login-box { width: 90%; right: auto; left: 5%; top:5rem; text-align: center; margin: 0 auto;}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) { 
	.login-box { width: 35%; right: 15%; top:5rem;}
}