<!DOCTYPE html>
<html lang="en">
<head>
<title>About | Ryan X. Charles</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" media="screen">
</head>
<body class="page-about">
<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <div class="headerbox">
        <a href="/"><img src="/images/andromeda-circle.png" alt="Ryan X. Charles"></a>
        <h1>Ryan X. Charles</h1>
        <p>Anti-aggression. Pro-bitcoin.</p>
        <p><a href="/">Home</a> | <a href="/archive/">Archive</a> | About</p>
      </div>
    </div>
    <div class="span8">
        <article>
          <p style="margin-top: 5px; text-align: center;"><img src="/images/cigar.jpg" alt="" class="img-polaroid" style="width: 100px; float: right;"></p>
          <h1><a href="/about/">About</a></h1>
          <p class="author"><time>2013-07-11</time> | Ryan X. Charles</p>
          <hr>
          <p>Ryan X. Charles is a full-time proponent of bitcoin, which I believe is a revolutionary technology that will in short order make the world a better place, though not without effort.
          I&#8217;ve been involved in bitcoin since 2011.</p>
          <p>In a former life, I was a physicist, and long before that, a web developer.
          And before that I was an artist, and a writer, and a time-traveler.
          I&#8217;m 29.
          </p>
          <p>This website contains a record of many things I have written since 2003, primarily from two previous blogs of mine, <a href="http://astrohacker.com/">Astrohacker</a> and <a href="http://funnylogic.com/">Funny Logic</a>.
          You can also find me on <a href="https://twitter.com/ryanxcharles/">Twitter</a>, where I am extremely active, and <a href="https://github.com/ryanxcharles/">Github</a>, where I&#8217;m working on it.</p>
          <p>Besides bitcoin, I am presently interested in <a href="http://nodejs.org/">node.js</a> and related technologies, which for many reasons seems to be the best suite of technologies to use to build products and services around bitcoin.</p>
          <p>Email: ryanxcharles@gmail.com, <a href="/pubkey.txt">GPG public key</a></p>
          <p>Donations: 1CU8KRSTcrYKyjfeGRTjpJ1S57jViwqrnh</p>
          <p><a href="https://twitter.com/ryanxcharles/">Twitter: @ryanxcharles</a></p>
          <p><a href="https://github.com/ryanxcharles/">Github: ryanxcharles</a></p>
        </article>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
      <div class="footer">
        <p><a href="/">&lt;3, Ryan X. Charles</a></p>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
