<?xml version="1.0"?>
<rss version="2.0">
<channel>
<title>Ryan X. Charles</title>
<description>Anti-aggression. Pro-bitcoin.</description>

<% for (var i=0; i<documents.length && i<30; i++) { %>

  <item>
    <title><%- documents[i].header.title %></title>
    <pubDate><%- documents[i].header.date %></pubDate>
    <link>http://ryanxcharles.com/archive/<%- documents[i].filename %>/</link>
    <description>
    <![CDATA[
      <%- documents[i].body %>
    ]]>
    </description>
  </item>

<% }; %>

</channel>
</rss>
