SBW 6: Identity Verification
===========================

A standardized blue check box. Is this a real person?

When Unisot verifies an identity, the user can display a Unisot checkbox next to
their name to show they are verified. The "blue check box" is just a graphical
analogy. We should absolutely standardize the blue check box. But under the hood
the way this works is that Unisot signs a message they have verified the user's
identity by scanning government documents. This assures the user is real. The
user can then have this show up on their profile, essentially saying "verified
by Unisot". The signatures and keys used to verify the user can be email2 keys
and can use the key logging and revocation protocols.
